body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('Pirateship.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

header {
    text-align: center;
    margin-bottom: 30px;
    color: white
}

h1 {
    font-size: 2em;
    margin: 0;
}

.player-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.game-modes {
    text-align: center;
    margin-bottom: 30px;
}

.game-modes button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

#scorecard {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.small-cell input {
    width: 40px;
    font-size: 0.75rem;
    padding: 2px;
}

.small-cell td,
.small-cell th {
    font-size: 0.75rem;
    padding: 4px;
}

th,
td {
    border: 1px solid #ccc;
}

#leaderboard {
    margin-top: 20px;
    text-align: left;
    display: none;
    color: white
}

#leaderboard ol {
    list-style: none;
    padding: 0;
    font-size: 1rem;
}

#reset-container {
    margin-top: 20px;
    text-align: center;
}

#reset-btn {
    position: relative;
    overflow: hidden;
    background: #ccc;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    /* Standard */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE/Edge */
}

#reset-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: blue;
    opacity: 0.6;
    transition: width 0s;
    z-index: 0;
}

#reset-btn span,
#reset-btn {
    position: relative;
    z-index: 1;
}